body{
  background-image:url("images (6).jpeg");
opacity: 0.3PX;
  background-color:white;
  color:white;
text-align:center;
}
form{
max-width:500px;
text-align:left;
padding:20px;
border:2px solid blue;
border-radius:10px;
text-shadow: 2px 2px blue;
}
input{
  padding:5px;
  border-radius:5px;


}
.input-element{
  display:flex;
  flex-direction:
  margin:10px
}
input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: blue;
  border-color: white;
  min-width: 300px;
}
h1{
  padding: 10px 10px 10px 10px;
  margin:4px auto black;
  border:10px;
  text-shadow: 2px 2px blue;
}
p{
  text-shadow: 2px 2px red;
}
